.items {
  overflow-y: scroll;
  padding: 1rem 4rem;
  align-self: flex-start;
  max-height: 80vh;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;

  &.item-threat-low {
    color: #00b050;
  }
  &.item-threat-high {
    color: #b70d00;
  }
  &.item-threat-medium {
    color: #ffbf34;
  }
}
